@import '@/styles/design-tokens.less';

.sectionTitle {
  font-family: @font-headline;
  font-size: 3.5rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 1rem;
  @media (max-width: 640px) {
    font-size: 30px;
  }

}

.sectionSubtitle {
  color: @text-on-surface-variant;
  font-size: 1.125rem;
  margin-bottom: 3rem;
    @media (max-width: 640px) {
    font-size: 15px;
  }
}

// .text-lines(@lines: 2)
// @lines: 需要显示的行数，默认为 2 行
.text-lines(@lines: 2) {
  display: -webkit-box;         // 必须结合的属性，将对象作为弹性伸缩盒子模型显示
  -webkit-box-orient: vertical; // 必须结合的属性，设置伸缩盒对象的子元素的排列方式
  -webkit-line-clamp: @lines;   // 限制在一个块元素显示的文本的行数
  overflow: hidden;             // 超出部分隐藏
  text-overflow: ellipsis;      // 溢出显示省略号
  word-break: break-all;        // 可选：防止长单词或英文不换行导致布局错乱
}

.one-text-line() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}